* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
html body {
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
  color: rgb(13, 13, 37);
}
html a {
  color: rgb(13, 13, 37);
  text-decoration: none;
}

main {
  height: 100vh;
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 0.1)), url("https://images.unsplash.com/photo-1479044769763-c28e05b5baa5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80") no-repeat center/cover;
}

h2 {
  color: rgb(255, 136, 0);
}

h3 {
  font-family: "Playfair Display", serif;
  font-size: 40px;
  padding: 20px 0;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 7% 20px 20px;
}
header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  margin-right: 10%;
}
header nav ul li {
  padding: 0 10px;
}
header nav .fas {
  color: rgb(255, 136, 0);
  margin-right: 35px;
}
header nav .hamburger {
  display: none;
}
header .logo {
  font-family: "Playfair Display", serif;
  font-size: 23px;
  color: rgb(255, 136, 0);
  width: 35%;
}

@media screen and (max-width: 1130px) {
  header nav .logo {
    width: 80%;
  }
  header nav ul {
    display: none;
  }
  header nav .hamburger {
    display: contents;
  }
}
.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.welcome h1 {
  font-family: "Playfair Display", serif;
  font-size: 50px;
}
.welcome form {
  margin-top: 30px;
}
.welcome input {
  border: none;
  height: 40px;
  margin-right: 0;
  padding-left: 10px;
  width: 50%;
  min-width: 200px;
  border-radius: 5px 0 0 5px;
}
.welcome select {
  border: none;
  height: 40px;
  appearance: none;
  background: rgb(255, 136, 0);
  border-radius: 0 5px 5px 0;
  padding: 10px 5px 10px 10px;
  left: -5px;
  margin-left: 0;
  position: relative;
  color: rgb(247, 247, 248);
}

.about {
  padding: 50px 10% 150px 40%;
  background: url(../images/about.png);
  background-size: cover;
}
.about p {
  line-height: 3rem;
  margin-bottom: 30px;
}
.about a {
  border: none;
  height: 40px;
  background-color: rgb(255, 136, 0);
  color: rgb(247, 247, 248);
  appearance: none;
  border-radius: 5px;
  padding: 10px 0px 10px 10px;
}
.about a span {
  background: rgb(255, 170, 77);
  transform: translate(0, -50%);
  padding: 10px 10px 10px 10px;
  margin-left: 5px;
  border-radius: 0 5px 5px 0;
}

img {
  height: auto;
  width: 100%;
}

.order {
  text-align: center;
  padding: 50px 20px;
}
.order .cuisine {
  display: flex;
  justify-content: center;
  align-items: center;
}
.order .cuisine li {
  padding: 20px 5rem;
}
.order .gallery {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
}
.order .gallery .img01 {
  background-image: url("https://source.unsplash.com/fdlZBWIP0aM");
}
.order .gallery .img02 {
  background-image: url("https://source.unsplash.com/Zyx6a0ReB18");
}
.order .gallery .img03 {
  background-image: url("https://source.unsplash.com/WbA_PCv3_Co");
}
.order .gallery .img04 {
  background-image: url("https://source.unsplash.com/SH6vc3VOOwE");
}
.order .gallery .img05 {
  background-image: url("https://source.unsplash.com/ohnRXPYXDEE");
}
.order .gallery .img06 {
  background-image: url("https://source.unsplash.com/j3gz0KReZbA");
}
.order .gallery .img07 {
  background-image: url("https://source.unsplash.com/FFqNATH27EM");
}
.order .gallery .img08 {
  background-image: url("https://source.unsplash.com/RwoKbjJdYvE");
}

.book {
  height: 100%;
  width: 100%;
  padding: 50px 20px 150px;
  text-align: center;
  background-image: url(https://images.unsplash.com/photo-1520074881623-f6cc435eb449?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTYzNDI5NTQ5MA&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080);
  background-repeat: no-repeat;
  background-size: cover;
}
.book img {
  max-width: 1000px;
}
.book .fa-phone-alt {
  height: 50px;
  width: 50px;
  color: rgb(255, 136, 0);
  padding-top: 10px;
  font-size: 30px;
  border-radius: 50%;
  border: 1px solid rgb(255, 136, 0);
}
.book .fa-phone-alt, .book .fa-phone-alt + span {
  display: block;
  margin-inline: auto;
  margin-bottom: 10px;
}
.book .fa-phone-alt + a, .book .fa-phone-alt + span + a {
  display: block;
  color: rgb(255, 136, 0);
  font-family: "Playfair Display", serif;
  font-size: 28px;
}
.book section {
  display: inline-block;
  width: 49%;
  margin-top: 30px;
}
.book section span {
  display: block;
}
.book section .time {
  font-family: "Playfair Display", serif;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 70px;
}

footer {
  text-align: center;
  padding: 40px 20px;
}

body {
  background-color: 0;
}

/*# sourceMappingURL=main.css.map */
