// @use 'scss/base' as *;

h2 {
  color: $color-main;
}

h3 {
  color: $color-main;
}

//header
header {
  nav{

  }
}

//welcome
.welcome {

}

//about
.about {}
  
//order
.order {}

//gallery
.gallery {}
  
//contact
.contact {}

//footer
footer {
  text-align: center;
  padding: 40px 20px;
} 